<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @backscratcher.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @backscratcher.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @backscratcher.price %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @backscratcher.sizes %>
</p>

<%= link_to 'Edit', edit_backscratcher_path(@backscratcher) %> |
<%= link_to 'Back', backscratchers_path %>
